body {
  margin: 0px;
  padding: 0px;
  background-color: #e5e9f0;
  font-family: "Montserrat", sans-serif;
}
.sign-up-form {
  text-align: center;
  margin: 20vmin auto;
  width: 50vmin;
  height: 55vmin;
  padding: 6vmin;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
}
.sign-up-form h1 {
  color: #3b4252;
  font-size: 30px;
  margin-bottom: 5vmin;
}
.sign-up-form p {
  font-size: 14px;
}
.input-text {
  padding: 1vmin 0;
  /* padding-bottom: 1vmin; */
  margin-bottom: 3vmin;
  width: 90%;
  height: 1vmin;
  outline: none;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}
select {
  -webkit-appearance: none;
  border: 1px solid grey;
  width: 30%;
  height: 35%;
  padding: 4px 5px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.7vmin 2vmin;
}
.has-text {
  padding-top: 0;
}
.sign-up-form button {
  color: white;
  width: 60%;
  cursor: pointer;
  background-color: #3b4252;
  border-radius: 1.5vmin;
  font-weight: 600;
  padding: 1.3vmin;
  margin-top: 8vmin;
  margin-bottom: 2vmin;
  border: none;
}
.text-right {
  display: flex;
  flex-direction: row;
  color: #808080;
}
a {
  text-decoration: none;
}
.agree {
  margin-right: 1.5vmin;
}
.file {
  display: flex;
  margin: 2vmin 0;
  gap: 2vmin;
}
.file p {
  color: #808080;
}
.file input {
  display: none;
}
.file label {
  height: 2vmin;
  width: 4vmin;
  font-weight: bold;
  padding-top: 1.5vmin;
  padding-bottom: 1.5vmin;
  padding-left: 4vmin;
  padding-right: 6vmin;
  background-color: #3b4252;
  border-radius: 0.5vmin;
  color: white;
  margin-left: auto;
  cursor: pointer;
}
