* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background-color: #d8dee9;
}
.jobdetails {
  margin-top: 2vmin;
  margin-left: 2vmin;
  background-color: #2e3440;
  color: #e5e9f0;
  font-weight: 600;
  font-size: 1.4vmin;
  padding: 1.2vmin 1.7vmin;
  width: 20%;
  float: right;
  border: none;
  border-radius: 0.4vmin;
  cursor: pointer;
  transition: background-color 0.2s;
}
.jobdetails:hover {
  background-color: #5e81ac;
  /* transition: ; */
}
.save1 {
  background-color: #2e3440;
  margin-top: 2vmin;
  margin-left: 2vmin;
  color: #e5e9f0;
  font-weight: 600;
  font-size: 1.4vmin;
  padding: 1.2vmin 1.7vmin;
  width: 20%;
  float: right;
  border: none;
  border-radius: 0.4vmin;
  cursor: pointer;
  transition: background-color 0.1s;
}
.save2 {
  background-color: #2e3440;
  margin-top: 2vmin;
  margin-left: 2vmin;
  color: #e5e9f0;
  font-weight: 600;
  font-size: 1.4vmin;
  padding: 1.2vmin 1.7vmin;
  width: 20%;
  float: right;
  border: none;
  border-radius: 0.4vmin;
  cursor: pointer;
  transition: background-color 0.1s;
}
.save3 {
  background-color: #2e3440;
  margin-top: 2vmin;
  margin-left: 2vmin;
  color: #e5e9f0;
  font-weight: 600;
  font-size: 1.4vmin;
  padding: 1.2vmin 1.7vmin;
  width: 20%;
  float: right;
  border: none;
  border-radius: 0.4vmin;
  cursor: pointer;
  transition: background-color 0.1s;
}
.save4 {
  background-color: #2e3440;
  margin-top: 2vmin;
  margin-left: 2vmin;
  color: #e5e9f0;
  font-weight: 600;
  font-size: 1.4vmin;
  padding: 1.2vmin 1.7vmin;
  width: 20%;
  float: right;
  border: none;
  border-radius: 0.4vmin;
  cursor: pointer;
  transition: background-color 0.1s;
}
.save5 {
  background-color: #2e3440;
  margin-top: 2vmin;
  margin-left: 2vmin;
  color: #e5e9f0;
  font-weight: 600;
  font-size: 1.4vmin;
  padding: 1.2vmin 1.7vmin;
  width: 20%;
  float: right;
  border: none;
  border-radius: 0.4vmin;
  cursor: pointer;
  transition: background-color 0.1s;
}
section {
  margin: 5vmax;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2e3440;
  position: sticky;
  top: 0;
  z-index: 1;
}
select {
  border: none;
  background-color: #d8dee9;
  -webkit-appearance: none;
}
.filter {
  float: right;
  display: flex;
  padding: 2vmin;
  gap: 2vmin;
}
.filter img {
  height: 3vmin;
}
.burger {
  padding: 3vmin;
  width: 10%;
  cursor: pointer;
}
.burger div {
  height: 0.35vmin;
  width: 3vmin;
  background-color: #d8dee9;
  margin: 0.7vmin 1vmin;
}
.search {
  display: flex;
  width: 70%;
  border-radius: 0.5vmin;
  height: 5vmin;
  background-color: white;
  justify-content: space-around;
  align-items: center;
}
.search img {
  height: 3vmin;
}
.search input {
  border: none;
  outline: none;
  width: 80%;
}
.search i {
  color: #3b4252;
  margin-right: 2vmin;
}
.details {
  position: absolute;
  left: 0;
  top: 9vmin;
  height: 100vh;
  width: 300px;
  background-color: #2e3440;
  /* background-color: #3b4252; */
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in;
}
.details p {
  font-size: 2.5vmin;
  font-weight: bold;
  color: #d8dee9;
  margin-left: 85px;
}
.user-icon {
  height: 15vmin;
  width: 15vmin;
  background-color: white;
  border-radius: 10vmin;
  margin-top: 4vmin;
  text-align: center;
  margin-bottom: 5vmin;
  margin-left: 75px;
}
.user-icon img {
  margin-top: 3.5vmin;
  height: 7.5vmin;
  width: 7.5vmin;
}
.list ul {
  list-style: none;
  margin: 3vmin 0;
}
.list li {
  margin-top: 10vmin;
}
a {
  text-decoration: none;
  font-size: 2vmin;
  font-weight: bold;
  margin-left: 50px;
  color: #d8dee9;
}
.logout {
  margin-top: 280px;
  display: flex;
  gap: 2vmin;
}
.logout img {
  height: 3vmin;
  width: 3vmin;
}
.options {
  height: 30vmin;
  margin: 3vmin auto;
  padding-left: 3vmin;
  padding-right: 3vmin;
  padding-bottom: 3vmin;
  width: 90vmin;
  padding-top: 3vmin;
  background-color: #eceff4;
  border-radius: 1vmin;
  font-size: 1.1vmin;
  display: flex;
  gap: 3vmin;
  align-items: center;
  filter: drop-shadow(0 2px 4px grey);
}
.options h2 {
  font-size: 2em;
  color: #2e3440;
  margin-bottom: 2vmin;
}
.options h3 {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 2vmin;
  color: #2e3440;
}
.options p {
  color: #2e3440;
}
.options img {
  height: 4vmin;
}
.heart {
  margin-top: 3vmin;
  font-size: 3vmax;
  color: #bf616a;
}
.deets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bookmark {
  color: #2e3440;
  margin-bottom: 5vmin;
  margin-right: 0.5vmin;
  cursor: pointer;
  transition: color 0.1s;
}
.details-clicked {
  transform: translateX(0%);
}
.bookmark-saved {
  background-color: #5e81ac;
}
